.container{
    margin-top: 40px;
    margin-left: 150px;
}

.container_form{    
    width: 500px;
    height: 50vh;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
  
}

.form{
   width: 250px;
}

.btn_submit{
    margin-left: -20px;
}

label > input{
    margin-left: 45px;
    margin-top: 8px;
    width: 280px;
}

label > select{
    margin-top: 7px;
    margin-left: 45px;
    width: 280px;

}