.main_log{
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid gold;
}

.formLogin{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    
}

.formLogin div{
    margin: 10px;
}